html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300%;
  background-size: 120x70;
  background-image: url('../images/rigtig.baggrund.png');
  background-size: cover;
  background-position: center;
  overflow:scroll;
  margin: 0;
  background-repeat: no-repeat;
}


#billede {
  position: absolute;
  width: 200px;
  transition: transform 0.5s ease, top 0.1s, left 0.1s; 
}

#billede2 {
  position: absolute;
  width: 300px;
  top: 20px;
  left: 280px;
}

#billede3 {
  position: absolute;
  width: 250px;
  top: 180px;
  left: 290px;
}

p {
  position: absolute;
  top: 150px;
  left: 200px;
  color: white;
  font-family:'Times New Roman', Times, serif;
  text-shadow: 1px 1px 3px black;
}

#output {
  top: 180px;
  left: 260px;
  position: absolute;
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 3px black;
}